%html
  %head
    %title
      &= @title
  %body
    #header
      .title
        &= @title
    #content
      = yield
    #footer
      .disclaimer
        %h5
          == This is an example site that doesn't do anything except say hi to you, and tell you that there have been #{@count} pageviews, and you had #{@userinfo.views} of them.
